  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var macros_dict = { {% for macro, replacement in (LATEX_MACROS if LATEX_MACROS is defined else {"\\fOo": "o_o"}).items() -%}
        "{{ macro | replace('\\', '\\\\') | safe }}": "{{ replacement | replace('\\', '\\\\') | safe }}" {% if not loop.last %} , {% endif %} {% endfor %}
      {% for macro_replacement in (article.latex_macros if article.latex_macros is defined else []) -%}
        {{ macro_replacement | replace('\\', '\\\\') | safe }} {% if not loop.last %} , {% endif %} {% endfor %}
      };
      document.querySelectorAll("script[type='math/tex']").forEach(function(el) {
        var text = el.textContent === "" ? el.innerHTML : el.textContent;
        el.outerHTML = katex.renderToString(text, { displayMode: false, macros: macros_dict });
      });
      document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
        var text = el.textContent === "" ? el.innerHTML : el.textContent;
        el.outerHTML = katex.renderToString(text, { displayMode: true, macros: macros_dict });
      });
    });
  </script>
